<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Ticker Bread</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.index')}}">오늘의 시장</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('analysis.index')}}">주식 분석</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" data-widget="fullscreen" href="#" role="button"><i
                            class="fas fa-expand-arrows-alt"></i></a></li>
                <li class="nav-item"><a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#"
                        role="button"><i class="fas fa-question-circle"></i></a></li>
            </ul>
        </div>
    </div>
</nav>